.calendar {
    /* display: flex; */
    flex-wrap: wrap;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.week {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 5px;
}

.day {
    flex: 1;
    border: 1px solid;
    text-align: center;
    /* flex-direction: row; */
    margin: 5px;
}

.day_hspace {
    flex: 1;
    border: 3px;
    margin: 5px;
    /* flex-direction: row; */
}