.calendar {
    display: flex;
    /* flex-wrap: wrap; */
    width: 95%;
    margin: auto;
    /* flex-direction: column; */
    flex-direction: row;
    /* justify-content: center;
    align-items: center;
    height: fit-content; */
    z-index: 100;
    /* position: relative; */
}

.week {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    /* flex-direction: row; */
    margin: 1px;
    flex: 1;
}

.day {
    flex: 0 0 30px;
    /* border: 1px solid; */
    text-align: center;
    /* flex-direction: row; */
    color: black;
    height:30px;
    margin: 1px;
    position: relative;
}

.day_hspace {
    flex: 0 0 30px;
    height:30px;
    /* border: 1px solid; */
    text-align: center;
    margin: 1px;
    position: relative;
    /* flex-direction: row; */
}

.background_text {
    /* position: absolute; */
    position: absolute;
    display: grid;
    /* writing-mode:vertical-rl; */
    z-index: 150;
    font-size: 30px;
    color:  rgba(0, 0, 0, 0.45);
}

